@(title: String)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <p> <a href="/wtui"> play UChess web tui </a> </p>
        <p> <a href="/wui"> Uchess wui Jquery </a> </p>
        <p> <a href="/wuii">  Uchess angular wui</a>  </p>
    </body>
</html>
