<!DOCTYPE html>

<html lang="en" ng-app="chessApp">
    <head>
    
        <title>Wui</title>
 
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
		
		<style>

		    .field {
                display: block;
		        float: left;
		        width:  5%;
		        height: 5%;
                margin: 0px;
		    }
		</style>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        
        
        
        
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
         
    <script>   
    
    var i = 1;
    var endpos = "";
    var str1 = "";

    var chessApp = angular.module('chessApp', []);
    chessApp.controller('ChessCtrl', function ($scope){
    	var $socket = new WebSocket("ws://localhost:9000/socket");
        //$scope.socket = new WebSocket("ws://uchess.herokuapp.com/socket"); 
        $socket.onopen    = function(){ alert("Mit Socket verbunden"); };  
        $socket.onmessage = function(message){ 
        	
        	if(message == "x") {
        		console.log("x msg");
        	} else {
        		var msg = JSON.parse(message.data);
            	$scope.figures = msg.figures;
            	$scope.$apply();
            	console.log($scope.figures);
        		
        	}
        	
        	
        	/*if(msg.type == "field"){
        		$scope.figures = msg.figures;
        	} elseif(msg.type == "endofgame"){
        		alert(msg.winner + " has won the game!");
        		
        		{
        			"type": "endofgame",
        			"winner": "username"
        		}
        		
        	}*/
        }; 
        $socket.onerror   = function(){ alert("Fehler aufgetrreten"); };  
        $socket.onclose   = function(){ alert("Server hat verbindung beendet");};
    		
        angular.element(document).ready(function () {
        	$scope.$apply();
        });
       
        
        $scope.getField = function() {
        	$socket.send("field"); 	
        };
        
        
    	$scope.move = function(pos) {
    		
    		
			if(i == 1) {
	    		str1 = pos;
	    		document.getElementById("click").firstChild.nodeValue = "1 Feld gedrueckt";

			}
			
			if(i == 2) {
				endpos = str1 + " " + pos;
    		
    			console.log("send pos " + endpos);
    			$socket.send("_"+endpos);
    			i = 0;
    			str1 = "";
    			endpos = "";
    			document.getElementById("click").firstChild.nodeValue = "0 Felder gedrueckt";
    		}
						
			i = i + 1;
        };
               
        
      $scope.figures = [/*
        		{"figure": "T", "color": "b", "bg": "w", "pos": "07"},
            	{"figure": "H", "color": "b", "bg": "b", "pos": "17"},
            	{"figure": "B", "color": "b", "bg": "w", "pos": "27"},
            	{"figure": "Q", "color": "b", "bg": "b", "pos": "37"},
            	{"figure": "K", "color": "b", "bg": "w", "pos": "47"},
            	{"figure": "B", "color": "b", "bg": "b", "pos": "57"},
            	{"figure": "H", "color": "b", "bg": "w", "pos": "67"},
            	{"figure": "T", "color": "b", "bg": "b", "pos": "77"},
            	
            	{"figure": "P", "color": "b", "bg": "b", "pos": "06"},
            	{"figure": "P", "color": "b", "bg": "w", "pos": "16"},
            	{"figure": "P", "color": "b", "bg": "b", "pos": "26"},
            	{"figure": "P", "color": "b", "bg": "w", "pos": "36"},
            	{"figure": "P", "color": "b", "bg": "b", "pos": "46"},
            	{"figure": "P", "color": "b", "bg": "w", "pos": "56"},
            	{"figure": "P", "color": "b", "bg": "b", "pos": "66"},
            	{"figure": "P", "color": "b", "bg": "w", "pos": "76"},
            	
            	{"figure": "x", "color": "x", "bg": "w", "pos": "05"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "15"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "25"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "35"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "45"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "55"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "65"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "75"},
            	
            	{"figure": "x", "color": "x", "bg": "b", "pos": "04"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "14"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "24"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "34"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "44"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "54"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "64"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "74"},
                
            	{"figure": "x", "color": "x", "bg": "w", "pos": "03"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "13"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "23"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "33"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "43"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "53"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "63"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "73"},
            	
            	
            	
            	{"figure": "x", "color": "x", "bg": "b", "pos": "02"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "12"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "22"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "32"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "42"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "52"},
            	{"figure": "x", "color": "x", "bg": "b", "pos": "62"},
            	{"figure": "x", "color": "x", "bg": "w", "pos": "72"},

            	{"figure": "P", "color": "w", "bg": "w", "pos": "01"},
            	{"figure": "P", "color": "w", "bg": "b", "pos": "11"},
            	{"figure": "P", "color": "w", "bg": "w", "pos": "21"},
            	{"figure": "P", "color": "w", "bg": "b", "pos": "31"},
            	{"figure": "P", "color": "w", "bg": "w", "pos": "41"},
            	{"figure": "P", "color": "w", "bg": "b", "pos": "51"},
            	{"figure": "P", "color": "w", "bg": "w", "pos": "61"},
            	{"figure": "P", "color": "w", "bg": "b", "pos": "71"},
            	
            	
            	{"figure": "T", "color": "w", "bg": "b", "pos": "00"},
            	{"figure": "H", "color": "w", "bg": "w", "pos": "10"},
            	{"figure": "B", "color": "w", "bg": "b", "pos": "20"},
            	{"figure": "Q", "color": "w", "bg": "w", "pos": "30"},
            	{"figure": "K", "color": "w", "bg": "b", "pos": "40"},
            	{"figure": "B", "color": "w", "bg": "w", "pos": "50"},
            	{"figure": "H", "color": "w", "bg": "b", "pos": "60"},
            	{"figure": "T", "color": "w", "bg": "w", "pos": "70"}*/
      ];
      

      
      
    });
    
    
	      
    </script>
        
        
        
        
    </head>
    <body ng-controller="ChessCtrl">
    	<ul>
    		<span ng-repeat="figur in figures">
    		<div ng-if="($index % 8) == 0" class="row"></div>
    		<img ng-src="/assets/images/{{figur.color}}{{figur.figure}}{{figur.bg}}.jpg" ng-click="move(figur.pos)" class="field"/>
    		
    		</span>
    	</ul>
     
    	<span id="click">0 Felder gedrueckt</span>
    	 <button ng-click="getField()">draw Field</button> 
    </body>
</html>
